extends default

block page-content
    h1 OrderItems
    .data-table-container
        table.table
            thead
                tr
                    th Id
                    th Product
                    th Count
                    th OrderId
            tbody
                for item in model.orderItems
                    tr
                        td #{item.id}
                        td #{item.product.name}
                        td #{item.count}
                        td #{item.order.id}
